<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'PseudoCode: ' + ${pseudoCode.name}">PseudoCode</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1 th:text="'PseudoCode: ' + ${pseudoCode.name}"></h1>
    <a class="button" th:href="@{/pseudoCodes/{id}/addPseudoBlock(id=${pseudoCode.id})}">Add PseudoBlock</a>
    <h2>PseudoBlocks</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Order</th>
                <th>Parameters</th>
                <th>Output</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="block : ${pseudoBlocks}">
                <td th:text="${block.id}" th:style="'background-color: ' + ${block.category.colour}">Block ID</td>
                <td th:text="${block.name}">Block Name</td>
                <td th:text="${block.description}">Block Description</td>
                <td th:text="${block.blockOrder}">Block Order</td>
                <td th:text="${block.parameters}">Block Parameters</td>
                <td th:text="${block.output}">Block Output</td>
                <td>
                    <a class="button" th:href="@{/pseudoBlocks/edit/{id}(id=${block.id})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/pseudoCodes}">Back to All PseudoCodes</a>
</body>
</html>